.object-element{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    width: 30%;
    margin: 1%;
    height: 500px;
}
.object-element img{
    height: 70%;
    width: 100%;
    margin: auto;
}

.element-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.element-container .div{
    width: 33%;
}